{% set distro_name = "RHEL-10.0-20250228.3" %}
{% set buildroot_name = "BUILDROOT-10.0-RHEL-10-20250228.1" %}
{% set buildroot_url = "http://download-node-02.eng.bos.redhat.com/rhel-10/composes/BUILDROOT-10/" + buildroot_name + "/compose/Buildroot/" + ARCH + "/os/" %}
{% import "trees/rhel10-base.j2" as base with context %}
{% set distro_requires = base.distro_requires %}
{% set ks_append = base.ks_append %}
{% set host_requires = base.host_requires %}
{% set kernel_options_post = base.kernel_options_post %}
